repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3
          - prettier-plugin-packagejson@3
          - '@tenedev/prettier-config@1'
